.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cadetblue;
}

.content__art {
    position: relative;
    display: flex;
    width: 675px;
    height: 660px;
    overflow:hidden;
    box-shadow: 7px 7px 24px black;
}

.content__item-group {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content__item {
    box-sizing: border-box;
    margin: 0; 
}

.content__item_type_horizontal-white {
    width:300px;
    height:70px;
    background-color:seashell;
    border-bottom:13px solid black;
    border-right:13px solid black;
}

.content__item_shrink {
    flex-basis: 200px;
}

.content__item_type_horizontal-yellow {
    flex-basis: 220px;
    height: 70px;
    background-color: gold;
    border-bottom:13px solid black;
    border-right:13px solid black;
}

.content__item-group_flex_column {
    flex-direction: column;
}

.content__item-group_flex_row {
    flex-direction: row;
}

.content__item_type_vertical-white {
    width: 80px;
    height: 220px;
    background-color: seashell;
    border-bottom:13px solid black;
    border-right:13px solid black;
}

.content__item_type_vertical-yellow {
    width: 80px;
    height: 220px;
    background-color: gold;
    border-bottom:13px solid black;
    border-right:13px solid black;
}

.content__flex-column {
    position: relative;
    display: flex;
}

.content__item_type_horizontal-red {
    width: 370px;
    height: 360px;
    background-color:red;
    border-bottom:13px solid black;
    border-right:13px solid black;
}

.content__item_type_horizontal-black {
    width: 175px;
    height: 165px;
    background-color:black;
    border-bottom:13px solid black;
    border-right:13px solid black;
}

.content__item_type_white {
    width: 175px;
    height: 100px;
    border-right:13px solid black;
    background-color: seashell;
}

.content__item_type_yellow {
    width: 200px;
    height: 175px;
    border-right:12px solid black;
    border-bottom:12px solid black;
    background-color:gold;
}

.content__item_type_column-white {
    width: 100px;
    height: 185px;
    background-color: seashell;
    border-right:13px solid black;
    border-bottom:13px solid black;
}

.content__item_type_blue {
    width: 200px;
    height: 125px;
    background-color:blue;
    border-right:12px solid black;
    border-bottom:12px solid black;
}

.content__item_type_row-white {
    width: 195px;
    height: 80px;
    background-color:seashell;
    border-right:12px solid black;
    border-bottom:12px solid black;
}

.content__item_type_row-black {
    width: 195px;
    height: 45px;
    background-color:black;
    border-right:12px solid black;
    border-bottom:12px solid black;
}

.content__item_type_bordered-white {
    width: 200px;
    height: 80px;
    background-color:seashell;
    border-right:12px solid black;
    border-bottom:12px solid black;
}

.content__item_type_borderless-white {
    width: 195px;
    height: 70px;
    background-color:seashell;
    border-bottom:12px solid black;
}

.content__item_type_second-white {
    width: 25px;
    flex-basis: 509px;
    background-color: seashell;
    border-bottom:12px solid black;
}

.content__item_type_second-red {
    width: 25px;
    flex-basis: 180px;
    background-color: red;
}