.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.art {
    position: relative;
    display: flex;
    width: 675px;
    height: 660px;
    overflow: hidden;
    box-shadow: 
    0px 3px 3px rgba(0, 0, 0, 0.035),
    0 9px 9px rgba(0, 0, 0, 0.058),
    0 20px 16px rgba(0, 0, 0, 0.086),
    -3px 40px 36px rgba(0, 0, 0, 0.16),
    4px 100px 80px rgba(0, 0, 0, 0.46);
}

.art__item-group {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.art__item {
    box-sizing: border-box;
    border-bottom: 12px solid black;
    border-right: 12px solid black;
}

.art__item_type_horizontal-white {
    flex-basis: 300px;
    height: 70px;
    background-color: seashell;
}

.art__item_type_horizontal-yellow {
    flex-basis: 220px;
    height: 70px;
    background-color: gold;
}

.art__item-group_flex_column {
    flex-direction: column;
}

.art__item-group_flex_row {
    flex-direction: row;
}

.art__item_type_vertical-white {
    width: 80px;
    flex-basis: 245px;
    background-color: seashell;
}

.art__item_shrinked {
    flex-basis: 192px;
}

.art__item_type_vertical-yellow {
    width: 80px;
    flex-basis: 154px;
    background-color: gold;
    border-bottom: none;
}

.art__flex-columns {
    position: relative;
    display: flex;
}

.art__item_type_horizontal-red {
    width: 370px;
    flex-basis: 360px;
    background-color: red;
}

.art__item_type_horizontal-black {
    width: 175px;
    flex-basis: 165px;
    background-color: black;
}

.art__item_type_white {
    width: 175px;
    flex-basis: 65px;
    border-bottom: none;
    background-color: seashell;
}

.art__item_type_yellow {
    width: 200px;
    flex-basis: 175px;
    background-color: gold;
}

.art__item_type_column-white {
    flex-basis: 100px;
    height: 185px;
    background-color: seashell;
}

.art__item_type_blue {
    width: 200px;
    flex-basis: 125px;
    background-color: blue;
}

.art__item_type_row-white {
    width: 195px;
    flex-basis: 80px;
    background-color: seashell;
}

.art__item_type_row-black {
    width: 195px;
    flex-basis: 45px;
    background-color: black;
}

.art__item_type_bordered-white {
    width: 200px;
    flex-basis: 26px;
    background-color: seashell;
    border-bottom: none;
}

.art__item_grown {
    flex-basis: 80px;
    border-bottom: 12px solid black;
}

.art__item_type_borderless-white {
    width: 195px;
    flex-basis: 26px;
    background-color: seashell;
    border-right: none;
    border-bottom: none;
}

.art__item_type_second-white {
    width: 25px;
    flex-basis: 510px;
    background-color: seashell;
    border-right: none;
}

.art__item_type_second-red {
    width: 25px;
    flex-basis: 150px;
    background-color: red;
    border-bottom: none;
    border-right: none;
}